[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
dj-rest-auth = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
django-allauth = "*"
django-filter = "*"
whitenoise = "*"
dj-database-url = "*"
python-dotenv = "*"
psycopg2 = "*"

[requires]
python_version = "3.9"
